<template name="form">
	<div class="panelStyles">
		<div class="panel-heading">
			<h1 class="panel-title" style="font-weight:900;">¿Eres nuevo en Virtual Student?</h1>
			<h5 style="font-weight:900;">Registrate</h5>
		</div>
		<div class="panel-body">
			<form action="" method="POST" role="form">
				<div class="form-group">
					<label form="">Nombres</label>
					<input type="text" class="form-control" id="" placeholder="Nombres">
					<label form="">Apellidos</label>
					<input type="text" class="form-control" id="" placeholder="Paterno, Materno">
					<label for="">Email</label>
					<input type="email" class="form-control" id="" placeholder="email@email.com">
					<label for="">Password</label>
					<input type="password" class="form-control" id="" placeholder="Password">
					<label for="">Re. Password</label>
					<input type="password" class="form-control" id="" placeholder="Re. Password">
					
				</div>
				<button type="button" class="btn btn-warning">Registrate aqui</button>
				</form>
			
		</div>	
	</div>	

</template>