<template name="slide">
	<div class="container">
		<br>
		<div class="col-md-12">
			<div id="carousel-1" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-1" data-slide-to="1"></li>
					<li data-target="#carousel-1" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="http://lorempixel.com/1200/400" class="img-responsive" alt="">
						<div class="carousel-caption">
							<h1>Bienvenido a Virtual Student</h1>
							<h2>Conéctate con tus amigos y otras personas fascinantes. Obtén actualizaciones instantáneas de las cosas que te interesan. Mira los eventos que se están desarrollando, en tiempo real, desde todos los ángulos.</h2>
						</div>
					</div>
					<div class="item">
						<img src="http://lorempixel.com/1200/400" class="img-responsive" alt="">
						<div class="carousel-caption">
							<h1>Bienvenido a Virtual Student</h1>
							<h2>Conéctate con tus amigos y otras personas fascinantes. Obtén actualizaciones instantáneas de las cosas que te interesan. Mira los eventos que se están desarrollando, en tiempo real, desde todos los ángulos.</h2>
						</div>
					</div>
					<div class="item">
						<img src="http://lorempixel.com/1200/400" class="img-responsive" alt="">
						<div class="carousel-caption">
							<h1>Bienvenido a Virtual Student</h1>
							<h2>Conéctate con tus amigos y otras personas fascinantes. Obtén actualizaciones instantáneas de las cosas que te interesan. Mira los eventos que se están desarrollando, en tiempo real, desde todos los ángulos.</h2>
						</div>
					</div>
				</div>
				<a href="#carousel-1" class="left carousel.control" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hiden="true"></span>
					<span class="sr-only">Anterior</span>
				</a>
				<a href="#carousel-1" class="right carousel.control" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hiden="true"></span>
					<span class="sr-only">siguienter</span>
				</a>
			</div>
		</div>
	</div>
	
</template>